#search-plant-modal.modal(role='document')
  .modal-dialog(role='document')
    .modal-content
      #search-plant-header.modal-header.bg-light
        h5.modal-title.text-dark.text-uppercase= translation.plantSearchModal.title
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.container
        .anchor-plant-search.mt-4.col-12.col-md-10.offset-md-1