body
  include ./navbar/navbar
  include ./contentSwitch/contentSwitch
  // include ./footer/footer
  include ./modals/modals
  include ./loadingTexts/loadingTexts
  include ./botScriptSwitch/botScriptSwitch