doctype html

html(
  id= `${ id }`
  lang= `${ lang }`
  style= 'scroll-behavior: smooth'
)
  style= '@font-face { font-family: dayRoman; src: url(\'/font--day_roman/DAYROM__.ttf\')'
  include ./head/head.pug
  include ./body/body.pug