if (names[plant._id] && names[plant._id].length > 1)
  .row
    .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3.mt-4
      .alert.alert-info.m-0
        p.text-center.mb-0
          b= `${ translation.alternateNames } : `
          span= names[plant._id].slice(1, 5).join(', ')