if (names[plant._id] && names[plant._id].length > 1)
  .row
    .col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2.mt-4
      .alert.alert-info.m-0
        p.text-center.mb-0
          b= `${ translation.alternateNames } : `
          span= names[plant._id].slice(1, 5).join(', ')