#dialog-modal.modal(role='document')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title= 'For the TRIGHBS !'
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .anchor-dialog.mt-4